<section>
  <div class="firstDiv">
    <div class="whiteBgText">
      <div>
        <h1>Transform your brand</h1>
        <p>
          We are full-service creative agency specializing in helping branding
          grow fast. Enagage your client through compelling visual that do the
          most of the marketing for you
        </p>

        <a>LEARN MORE</a>
      </div>
    </div>
    <div class="whiteBgImage">
      <img src="/images/image-transform.jpg" />
    </div>
  </div>

  <div class="secondDiv">
    <div class="whiteBgImage">
      <img src="/images/image-stand-out.jpg" />
    </div>

    <div class="whiteBgText">
      <div>
        <h1>Stand out to the right audience</h1>
        <p>
          Using a collaborative formula of designers, researchers, photographer,
          and copywritters, we'll build and extend your brain in digital places
        </p>

        <a>LEARN MORE</a>
      </div>
    </div>
  </div>

  <div class="firstDiv">
    <div class="image-content-one">
      <div class="image-text">
        <h1>Graphc Design</h1>
        <p>
          Great design make you memorable. We deliver artwork that underscore
          your brand message and capture potentail client's attention
        </p>
      </div>
    </div>

    <div class="image-content-two">
      <div class="image-text">
        <h1>Photograpy</h1>
        <p>
          Increase your credibility by getting the most stunning, high-quality
          photos that improve business image.
        </p>
      </div>
    </div>
  </div>
</section>
