<div class="image-grid">
  <picture>
    <source
      media="(max-width: 768px)"
      srcset="/images/image-gallery-milkbottles.jpg"
    />
    <img
      src="/images/image-gallery-milkbottles-desktop.jpg"
      alt="Milk Bottles"
    />
  </picture>

  <picture>
    <source
      media="(max-width: 768px)"
      srcset="/images/image-gallery-orange.jpg"
    />
    <img src="/images/image-gallery-orange-desktop.jpg" alt="Orange" />
  </picture>

  <picture>
    <source
      media="(max-width: 768px)"
      srcset="/images/image-gallery-cone.jpg"
    />
    <img src="/images/image-gallery-cone-desktop.jpg" alt="Cone" />
  </picture>

  <picture>
    <source
      media="(max-width: 768px)"
      srcset="/images/image-gallery-sugar-cubes.jpg"
    />
    <img
      src="/images/image-gallery-sugar-cubes-desktop.jpg"
      alt="Sugar Cubes"
    />
  </picture>
</div>
